<div class="wrapper">
    <aside id="sidebar" [ngClass]="{'expand': isSidebarExpanded}">
        <div class="d-flex">
            <button class="toggle-btn" (click)="toggleSidebar()" type="button">
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                Sitt y Cia SAS
            </div>
        </div>
        <app-menu></app-menu>

        <div class="sidebar-footer">
            <a style="cursor: pointer;" (click)="logout()" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
    <div class="main p-3">
        <router-outlet></router-outlet>
    </div>
</div>